<div class="row" id="addnotebook" hidden>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Add a Notebook</h4>
        </div>
        <div class="panel-body">
            <form class="form" action="" method="POST">
                <input type="hidden" name="addnotebook" value="true"/>
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Notebook Title"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="description" placeholder="Notebook Description"/>
                </div>
                <button class="btn btn-primary" type="submit">Save Notebook</button>
            </form>
        </div>
    </div>
</div>