<div class="row" id="addnote" hidden>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Add a Note</h4>
        </div>
        <div class="panel-body">
            <form class="form" action="" method="POST">
                <input type="hidden" name="addnote" value="true"/>
                <div class="form-group">
                    <label for="notebook">Select Notebook</label>
                    <select name="notebook_id" class="form-control" id="notebookselect">
                        {% if notebooks %}
                            {% for notebook in notebooks %}
                                <option value="{{ notebook.notebook_id }}">{{ notebook.title }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Note Title"/>
                </div>
                <div class="form-group">
                    <textarea rows="25" cols="100" name="content"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Save Post</button>
            </form>
        </div>
    </div>
</div>