<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="dashboard.php" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Dashboard</a>
                <a onclick="showAddNotebook()" class="btn btn-primary"><span class="glyphicon glyphicon-book"></span>
                    Create Notebook</a>
                {% if notebooks %}
                <a onclick="showAddNoteDialog()" class="btn btn-primary"><span
                            class="glyphicon glyphicon-pencil"></span> Create Note</a>
                {% endif %}
                <a href="index.php?logout" class="btn btn-danger"><span class="glyphicon glyphicon-log-out"></span>
                    Logout {{ user.getLogin }}</a>
            </div>
        </div>