{% include 'Includes/header.html.twig' %}
<body>
<div class="container">
    <h1 class="page-header">Your Notebooks</h1>
    {% include 'Includes/nav.html.twig' %}
    {% include 'Includes/addnote.html.twig' %}
    {% include 'Includes/addnotebook.html.twig' %}
</div>
</div>
<div class="row">
    {% if notebooks %}
        {% for notebook in notebooks %}
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{ notebook.title }}</h4>
                        <span class="label label-primary"><span
                                    class="glyphicon glyphicon-pencil"></span> {{ notebook.count }}</span>
                        <a href="#" onclick="showAddNote({{ notebook.notebook_id }})"><span class="label label-primary"><span class="glyphicon glyphicon-plus"></span> Add</span></a>
                        <a href="dashboard.php?view={{ notebook.notebook_id }}"><span class="label label-primary"><span
                                        class="glyphicon glyphicon-eye-open"></span> View</span></a>
                        <a href="dashboard.php?deletenotebook={{ notebook.notebook_id }}"><span
                                    class="label label-danger"><span
                                        class="glyphicon glyphicon-trash"></span> Delete</span></a>
                    </div>
                    <div class="panel-body">
                        <p>{{ notebook.description }}</p>
                    </div>
                    <div class="panel-footer">
                        <p>Created: {{ notebook.creation_date }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
</div>
</body>