{% include 'Includes/header.html.twig' %}
<body>
<div class="container">
    <h1 class="page-header">Your Notes</h1>
    <p><b>{{ currentbook.title }}</b></p>
    <p><p>{{ currentbook.description }}</p></p>
    {% include 'Includes/nav.html.twig' %}
    {% include 'Includes/addnote.html.twig' %}
    {% include 'Includes/addnotebook.html.twig' %}
    <div class="row">
        {% if notes %}
            {% for note in notes %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p><b>{{ note.note_title }}</b></p>
                            <a href="dashboard.php?edit={{ note.note_id }}"><span class="label label-primary"><span
                                            class="glyphicon glyphicon-plus"></span> Edit</span></a>
                            <a href="dashboard.php?delete={{ note.note_id }}"><span class="label label-primary"><span
                                            class="glyphicon glyphicon-eye-open"></span> Delete</span></a>

                        </div>
                        <div class="panel-body">
                            {{ note.note_content|raw }}
                        </div>
                        <div class="panel-footer">
                            Created: {{ note.note_created }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
</body>