<!DOCTYPE html>
{% include 'Includes/header.html.twig' %}
<body>
<div class="container parent" id="topcontainer">
    <div class="row child">
        <div id="login">
            <div class="col-md-4 col-md-offset-4">
                <form class="form" action="" method="POST">
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input type="text" class="form-control" name="login"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a class="btn btn-success pull-right" href="#" onclick="showRegistration()">Sign Up</a>
                </form>
                <br/><br/>
                <div id="registrationDiv" hidden class="row child">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form class="form" action="" method="POST" id="registration_form">
                                    <div class="form-group">
                                        <label for="login">Username</label>
                                        <input class="form-control form-field" type="text" name="login"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control form-field" type="password" name="password"/>
                                    </div>
                                    <div class="input-group">
                                        <label for="email">Email</label>
                                        <input class="form-control form-field" type="email" name="email"/>
                                    </div>
                                </form>
                                <br/>
                                <a class="btn btn-success pull-right" href="#" onclick="registerUser()">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>